* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  color: #eee;
  font-family: Consolas, monospace;
  font-size: 12px;
}

input {
  width: 100%;
  background: #111;
  color: inherit;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
}

.electron-app-title-bar {
  background: #222 !important;
  border-bottom: none !important;
}

.Editor {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.editableArea {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

.Function {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 20px;
}

.RunButton {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  -webkit-app-region: no-drag;
}

.RunButton:hover {
  background: #444;
}

.Block {
  display: inline-block;
  width: 200px;
  background: #222;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

.Block + .Block {
  margin-top: 5px;
}

.TextField {
  position: relative;
}

.Menu {
  position: absolute;
  background: #222;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.MenuItem {
  padding: 5px 15px;
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

.MenuItem:hover,
.MenuItem:focus {
  background: #333;
}
