$background-color: #111;
$background-inset-color: #000;
$block-color: #282828;
$block-inset-color: $background-color;
$block-highlight-color: #444;
$text-color: #eee;
$text-deemphasized-color: #555;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
  font-family: sans-serif;
  font-size: 12px;
}

code {
  font-family: Consolas, monospace;
}

input {
  width: 100%;
  background: $background-inset-color;
  color: inherit;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 3px 6px;
  font-family: inherit;
  font-size: inherit;

  .Block & {
    background: $block-inset-color;
  }
}

.ExprSlot {
  @extend input;
  width: auto;

  input {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.electron-app-title-bar {
  background: $block-color !important;
  border-bottom: none !important;

  &.non-windows {
    height: 38px;
    -webkit-app-region: drag;
  }
}

.RunButton {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  -webkit-app-region: no-drag;

  &:hover {
    background: $block-highlight-color;
  }

  .electron-app-title-bar.non-windows & {
    position: absolute;
    left: 79px;
    height: inherit;
  }
}

.Editor {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.editableArea {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

.Function {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: fit-content;
  margin: 20px;
}

.FunctionHeader {
  display: flex;
  align-items: center;
  padding: 7px;
  text-align: center;
}

.AddParamButton {
  line-height: 0;
  color: $text-deemphasized-color;

  &:hover,
  &:focus {
    color: $text-color;
  }

  .Function:not(:hover) & {
    visibility: hidden;
  }
}

.Block {
  display: inline-block;
  background: $block-color;
  padding: 7px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
  border-top: 1px solid $block-inset-color;
}

.MenuOverlay {
  position: absolute;
}

.Menu {
  background: $block-color;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.MenuItem {
  padding: 7px 12px;
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;

  &:hover,
  &:focus {
    background: $block-highlight-color;
  }
}

.AddBlockButton {
  @extend .Block;
  line-height: 0;
  color: $text-deemphasized-color;

  &:hover,
  &:focus {
    color: $text-color;
  }

  &:not(:hover):not(:focus) {
    background: transparent;
    box-shadow: none;
    border-top-color: transparent;
  }
}

.Call,
.VarDecl,
.Compare {
  display: flex;
  align-items: center;
}

.FunctionHeader > * + *,
.Call > * + *,
.VarDecl > * + * {
  margin-left: 7px;
}

.Call,
.VarDecl {
  & > .ExprSlot {
    width: 100%;
  }
}
