* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  color: #eee;
  font-family: Consolas, monospace;
  font-size: 12px;
}

input {
  width: 100%;
  background: #111;
  color: inherit;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
}

.titlebar {
  background: #222;
}

.titlebar-light .titlebar-minimize:hover,
.titlebar-light .titlebar-resize:hover,
.titlebar-light .titlebar-fullscreen:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.Editor {
  padding: 20px;
}

.Block {
  display: inline-block;
  width: 200px;
  background: #222;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.TextField {
  position: relative;
}

.completions {
  position: absolute;
  width: 100%;
  background: #222;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.completion {
  padding: 5px;
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

.completion:hover,
.completion:focus {
  background: #333;
}
