$background-color: #111;
$background-highlight-color: #1a1a1a;
$background-inset-color: #000;
$block-color: #282828;
$block-inset-color: $background-color;
$block-highlight-color: #444;
$text-color: #eee;
$text-deemphasized-color: #555;
$text-deemphasized-color-2: #8e8e8e;

$block-height: 33px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
  font-family: Consolas, monospace;
  font-size: 12px;
}

span {
  font-family: sans-serif;
  user-select: none;
}

label {
  display: flex;
  align-items: center;
}

.LabelText {
  color: $text-deemphasized-color-2;
  margin-right: 4px;
}

input {
  width: 100%;
  background: $background-inset-color;
  color: inherit;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 3px 6px;
  font-family: inherit;
  font-size: inherit;

  .Block & {
    background: $block-inset-color;
  }
}

.Expression {
  @extend input;
  flex-grow: 1;

  input {
    padding: 0;
  }
}

.electron-app-title-bar {
  background: $block-color !important;
  border-bottom: none !important;

  &.non-windows {
    height: 38px;
    -webkit-app-region: drag;
  }
}

.RunButton {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  -webkit-app-region: no-drag;

  &:hover {
    background: $block-highlight-color;
  }

  .electron-app-title-bar.non-windows & {
    position: absolute;
    left: 79px;
    height: inherit;
  }
}

.Content {
  height: 100vh;
  display: grid;
  grid-template-columns: auto max-content;
  overflow: hidden;
}

.EditableArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
}

.FunctionWrapper {
  width: fit-content;
}

.Function {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 20px;
}

.FunctionHeader {
  display: flex;
  align-items: center;
  padding: 7px;
  text-align: center;
}

.AddParamButton {
  line-height: 0;
  color: $text-deemphasized-color;

  &:hover {
    color: $text-color;
  }

  .Function:not(:hover) & {
    visibility: hidden;
  }
}

.Blocks {
  height: 100%;
  background: $background-highlight-color;
}

.BlockWrapper {
  background: $background-color;

  &:not(:last-of-type) {
    border-bottom: 1px solid $block-inset-color;
  }
}

.Block {
  height: $block-height;
  width: 200px;
  display: flex;
  background: $block-color;
  padding: 6px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.MenuOverlay {
  position: absolute;
  visibility: hidden;

  .AutocompleteInput:focus-within & {
    visibility: visible;
  }
}

.Menu {
  background: $block-color;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.MenuItem {
  padding: 7px 12px;
  display: block;
  color: $text-deemphasized-color-2;
  text-decoration: inherit;
  outline: none;

  &:hover,
  &:focus {
    color: inherit;
    background: $block-highlight-color;
  }
}

.AddBlockButton {
  @extend .Block;
  line-height: 0;
  color: $text-deemphasized-color;

  &:hover {
    color: $text-color;
  }

  &:not(:hover) {
    background: $background-highlight-color;
    box-shadow: none;
  }
}

.Call,
.VarDecl,
.Compare,
.If {
  display: flex;
  align-items: center;
}

.FunctionHeader > * + *,
.Call > * + *,
.VarDecl > * + *,
.If > * + * {
  margin-left: 7px;
}

.Call,
.VarDecl {
  & > .Expression {
    width: 100%;
  }
}

.Condition {
  width: 100%;
}

.IfBody {
  background: $background-color;

  .Lines {
    position: relative;

    > svg {
      height: $block-height;
      display: block;
      stroke-width: 2;
      stroke: $block-color;
      fill: none;
    }

    > .Labels {
      display: flex;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;

      > span {
        position: absolute;
        background: $block-color;
        color: $text-deemphasized-color-2;
        padding: 2px 5px;
        border-radius: 2px;
      }
    }
  }

  .ThenElse {
    display: flex;

    .Else {
      margin-left: 20px;
    }
  }
}

.RenderView {
  position: relative;
}
